
#todoInput {
    padding-right: 300px;
}

#todoList {
    list-style-type: none
}

.lists {
    background-color: aqua;
    margin-left: 0px;
    font-size: 2em;
}

.btn-success {
    margin-left: 500px;
}

.btn-danger {
    margin-left: 5px;
}